.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
}

.btn-sq {
    width: 80px !important;
    height: 100px !important;
    font-size: 10px;
}

.btn-sq-sm {
    width: 50px !important;
    height: 50px !important;
    font-size: 10px;
}

.btn-sq-xs {
    width: 25px !important;
    height: 25px !important;
    padding:2px;
}


.navbar-default .navbar-brand {
    font-size: 2.5em;
    color: #FFC107;
    font-weight:600;
}

.navbar-default{
    background-color: rgb(36,36,36);
}

a{
    color: rgba(255,255,255,0.9);
}

.page-header{
    font-size: 3em;
    color: #262c38;
    letter-spacing: 1px;
    position: relative;
    font-weight: 600;
    text-align: center;
}

.ul#menu{
    background-color: rgb(36,36,36);
    
}

.sidebar ul li a.active {
    background-color: rgb(36,36,36);
}

body {
    /*background-image: url("../../ressources/images/workout-bg.jpeg");
    */
    background-color: rgb(36,36,36);
}

.page-header:after {
    border-top: 2px solid #FFC107;
    display: block;
    width: 81px;
    content: "";
    margin: 8px auto 0;
}

.jumbotron#welcomeMessage{
    margin-top: 10%;
    padding-top: 5%;
    color: white;
    background-color: rgba(0,0,0,0.35);
}

.bgaccueil { 
    /* The image used */
    background-image: url('../../ressources/images/3.jpg');
}

.bgconnexion{
    background-image: url('../../ressources/images/2.jpg');
}

.bg { 

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html{
    height:100%;
}

#panelConnexion{
    background-color: rgba(255,255,255,0.8);
}

.usefulLinks{
    color: rgba(36,36,36,0.9); 
    font-size: 80%; 
    position: relative; 
    top:-10px
}